

<h2>Dashboard - Listing</h2>
<app-dashboard-listing></app-dashboard-listing>

<div class="container-flex mt-4">
    <div class="row  ">
        <div class="col-lg-4  box_shadow current_plan "><app-current-plan></app-current-plan></div>
        <div class="col-lg-4  box_shadow bg-white"><app-deals-closed-graph></app-deals-closed-graph></div>
        <div class="col-lg-4  box_shadow bg-white"><app-modern-home></app-modern-home></div>
    </div>
</div>

<div class="container-flex mt-4">
    <div class="row">
        <div class="col-lg-8  bg-white"><app-dealers ngClass="overflow"></app-dealers>
        <div class="container-flex">
            <div class="row">
                <div class=" mt-4 "><app-properties></app-properties></div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 box_shadow bg-white" ><app-recent-activities></app-recent-activities></div>
    </div>
    </div>




  
