<div>

    <mat-card class="maincard">

        <mat-card-content>

            <b>Properties</b>

            <div class="input-group rounded">

                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />

                <span class="input-group-text border-0" id="search-addon">

                    <i class="fas fa-search"></i>

                </span>

            </div>

        </mat-card-content>



        <mat-card-content>

            <div>

                <p></p>

                <button class="propertybtn">

                    FOR SALE

                </button>

                <p></p>
                <div>
                <div class="cardFont"> Property & Sidebar Agent </div>
                 </div>
                <p></p>

                <p>Sublevel, Hialeah, Florida</p>

                <h2><b>$113,859</b></h2>

                <h6>$6705/sqft</h6>

                Check in detail

                <div>

                    <mat-card class="align">

                        <mat-card-content>

                            <img class="nestedimage" src="../../../../assets/Image/Properties/property-7.jpeg">

                        </mat-card-content>

                    </mat-card>

                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div>
                <p></p>
                <button class="propertybtn">
                    FOR SALE
                </button>
                <p></p>
                <div class="cardFont"> Property & Sidebar Agent </div>
                <p></p>
                <p>Sublevel, Hialeah, Florida</p>
                <h2><b>$113,859</b></h2>
                <h6>$6705/sqft</h6>
                Check in detail
                <div>
                    <mat-card class="align">
                        <mat-card-content>
                            <img class="nestedimage" src="../../../../assets/Image/Properties/property-6.jpeg">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div>
                <p></p>
                <button class="propertybtn">
                    FOR SALE
                </button>
                <p></p>
                <div class="cardFont"> Property & Sidebar Agent </div>
                <p></p>
                <p>Sublevel, Hialeah, Florida</p>
                <h2><b>$113,859</b></h2>
                <h6>$6705/sqft</h6>
                Check in detail
                <div>
                    <mat-card class="align">
                        <mat-card-content>
                            <img class="nestedimage" src="../../../../assets/Image/Properties/property-5.jpeg">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>
</div>