body{
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.card{
height: 7rem;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
border: none;
}



.card_name{
    font-weight: 2px;
    font-size: 0.78rem;
    color: grey;   
}

.card_number{
    font-weight:bold;
    font-size: 1.5rem;
    margin-right: 0.7rem;
    }
.card_percentage{
    font-weight: bold;
    font-size: 1rem;
    color: rgb(104,228,48);
    margin-right: 0.7rem;
}
.card_status{
    font-weight: 2px;
    font-size: 0.7rem;
    color: grey;
    
}

.progress{
    height: 0.3rem;
    }

.progress-bar {
        animation: load 3s normal forwards;
        width: 0;
      }
      
 @keyframes load {
        0% { width: 0; }
        100% { width: 68%; }
      }

