.example-container {
    // width: 1150px;
     height: 450px;
    margin: 10px;
    border: 1px solid #555;
  }
  .messages{
    width: 160px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.list-item-active {
    border-radius: 0 2rem 2rem 0;
    background-color: #ff4081;
    }
.mail-notify{
      margin-left: 280px;
      margin-top: 4px;
    //   position: static;
     }
.mail-search{
  
    margin:0 3rem 0 0;
    width: 400px;
}
.search-size{
    height: 77px;
}

.toolbar{
    height: 4.8rem;

}

  .example-drawer{
    // display:flexbox;
    overflow-x: hidden;
  }
.mail-button{
    border-radius: 50px;
    background-color: #fff;
    color: #512da8;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 30%);
    border: #fff;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;

}
.dt-module-side-nav__header {
    position: relative;
    // padding: 3rem 0.6rem;
    text-transform: uppercase;
    line-height: 1;
    font-size: 12px;
}
.dt-module-side-nav__text {
    display: inline-block;
}