<div class="container-flex">
    <div class="row">

        <samp ngClass="name">Your Current Plan</samp>
        <div class="col-lg-6 section1">
               
                <span ngClass="info"><span ngClass="number">$19</span>/month</span>
                <ul ngClass="margin_top">
                    <li ngClass="info"> Max listing items 2K</li>
                    <li ngClass="info">Max agents - 10</li>
                </ul>
        </div>

        <div ngClass="col-lg-1 vertical_rule"></div>

        <div class="col-lg-5 section2">
           
        <span ngClass="info">Expires in 80 days</span>
        <button ngClass="info button">RENEW PLAN</button>
        <span ngClass="info ">Other Plans</span>
        
        </div>

    </div>
</div>

