
    mat-icon {
        vertical-align: middle;
        margin-right: 0.5rem;
      }
    .logo {
      text-align: left;
      padding-left: 5%;
      padding-right: 10%;
    }
    
      img {
        width: 100px;
        align-items: baseline;
    }
    .mat-divider {
      border-top-width: 2px;
      border-color: rgb(147, 139, 139);
    }
    mat-list-item {
      color: #fffcfc !important;
      font-size: 5rem;
      height: 44px !important;
      margin-bottom: 4px;
    }
      .mat-list-item:hover {
        color: #4630f2 !important;
      }
     .sidenav-formating{
      font-size: large;
      inline-size: auto;
     }
     
   .list-item-active {
       background: rgb(178, 190, 243) !important;
       border-radius: 0 2rem 2rem 0;
       }
    
        .mat-list-item-content {
          background: #2c3344 !important;
            background-color: #2c3344 !important;
        }
    .mat-subheader {
      color: #818cf8;
      font-size: 0.6rem;
      font-weight: 10;
      letter-spacing: 1px;
    } 
    .mat-divider {
      border-top-width: 2px;
      border-color: rgb(147, 139, 139);
    }
    .list-item-active {
      background: rgb(177, 191, 252) !important;
      border-radius: 0 2rem 2rem 0;
        background-color: rgb(179, 179, 249);
      }
      .mat-mdc-form-field + .mat-mdc-form-field {
        margin-left: 8px;
      } 