/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

    /* assign variable */
    // rgb(83,44,171)
// rgb(35,26,41)
//rgb(176,168,204)

    /* background-color */
   
    $--bg-purple-dark:rgb(35,26,41);
    $--bg-purple:rgb(83,44,171);
    $--bg-white:white;
    $--bg-pink:rgb(251,68,132);

    /* Text Style */
  
    $--text-gray-dark:rgb(176,168,204);
    $--text-gray-white:rgb(222,218,219);

    $--primary-font:'Poppins', sans-serif;
    $--secondary-font:'Oswald', sans-serif;

    body{
        background-color: white;
        font-family: 'Poppins', sans-serif;
    }


    